<form [formGroup]="formGroup">
	<!-- imagen -->

	<div class="flex flex-col gap-1 mb-5">
		<label for="img" class="w-16 block text-sm font-medium">Imagen</label>
		<input
			id="img"
			type="file"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			(change)="changeFile($event)"
		/>

		<div *ngIf="imageSrc" class="flex justify-center">
			<img [src]="imageSrc" alt="Imagen seleccionada" class="w-28 h-28 p-2 object-cover rounded-full overflow-hidden shadow-lg">
		  </div>
		<div *ngIf="selectedUser" class="flex justify-center ">
			<img [src]="selectedUser.urlImagen" alt="Imagen seleccionada" class="w-28 h-28 p-2 object-cover rounded-full overflow-hidden shadow-lg">
		  </div>
	</div>
	
	<!-- nombre -->
	<div class="flex flex-col gap-1 mb-5">
		<label for="name" class="w-16 block text-sm font-medium">Nombre *</label>
		<input
			id="name"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="nombre"
		/>
		<span
			*ngIf="hasError({field: 'nombre', error: 'required'}) || hasError({field: 'nombre', error: 'whitespace'})"
			class="text-red-700"
		>
			Field name is required
		</span>
	</div>

	<!-- email -->
	<div class="flex flex-col gap-1 mb-5">
		<label for="email" class="w-16 block text-sm font-medium">Email *</label>
		<input
			id="email"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="email"
		/>
		<span
			*ngIf="hasError({field: 'email', error: 'required'})"
			class="text-red-700"
		>
			Field email is required
		</span>
		<span
			*ngIf="hasError({field: 'email', error: 'email'})"
			class="text-red-700"
		>
			Field email is not valid
		</span>
	</div>

	<!-- telefono -->
	<div class="flex flex-col gap-1 mb-5">
		<label for="telefono" class="w-16 block text-sm font-medium"
			>Teléfono</label
		>
		<input
			id="telefono"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="telefono"
		/>
		<span
			*ngIf="hasError({field: 'telefono', error: 'pattern'})"
			class="text-red-700"
		>
			the field must contain exactly 10 numeric digits
		</span>
	</div>
	<div class="flex justify-end gap-2">
		<p-button
			label="Cancel"
			severity="secondary"
			(onClick)="emitModalToggle()"
		/>
		<p-button
			label="Save"
			(onClick)="submit()"
			[disabled]="selectedUser? !formGroup.dirty || formGroup.invalid : formGroup.invalid"
		/>
	</div>
</form>
