<form [formGroup]="formGroup">
	<div class="flex flex-col gap-1 mb-5">
		<label for="name" class="w-16 block text-sm font-medium">Name *</label>
		<input
			id="name"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="name"
		/>
		<span
			*ngIf="hasError({field: 'name', error: 'required'}) || hasError({field: 'name', error: 'whitespace'})"
			class="text-red-700"
		>
			Name is required
		</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="email" class="w-16 block text-sm font-medium">Email *</label>
		<input
			id="email"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="email"
		/>
		<span
			*ngIf="hasError({field: 'email', error: 'required'})"
			class="text-red-700"
		>
			Email is required
		</span>
		<span
			*ngIf="hasError({field: 'email', error: 'email'})"
			class="text-red-700"
		>
			Email is not valid
		</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="telefono" class="w-16 block text-sm font-medium">Phone</label>
		<input
			id="telefono"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="telefono"
		/>
		<span
			*ngIf="hasError({field: 'telefono', error: 'pattern'})"
			class="text-red-700"
		>
			The field must contain exactly 10 numeric digits
		</span>
	</div>
	<div class="flex justify-end gap-2">
		<p-button
			label="Cancel"
			severity="secondary"
			(onClick)="emitModalToggle()"
		/>
		<p-button
			label="Save"
			(onClick)="submit()"
			[disabled]="selectedUser? !formGroup.dirty || formGroup.invalid : formGroup.invalid"
		/>
	</div>
</form>
