<form [formGroup]="formGroup">
	<!-- update -->
	<ng-container *ngIf="selectedLoan">
		<div class="flex flex-col gap-1 mb-5">
			<p-dropdown
				placeholder="Estado"
				formControlName="estado"
				appendTo="body"
				[options]="statusOptions"
				optionLabel="value"
				optionValue="value"
				[showClear]="true"
				styleClass="w-full border"
			>
				<ng-template pTemplate="selectedItem" let-selectedOption>
					<div class="flex align-items-center gap-2">
						<div>{{ selectedOption.value }}</div>
					</div>
				</ng-template>
				<ng-template let-estado pTemplate="item">
					<div class="flex align-items-center gap-2">
						<div>{{ estado.value }}</div>
					</div>
				</ng-template>
			</p-dropdown>

			<span
				*ngIf="hasError({field: 'estado', error: 'inList'}) "
				class="text-red-700 ml-1"
			>
				Field estado is required
			</span>
		</div>
	</ng-container>

	<ng-container *ngIf="!selectedLoan">
		<!-- usuarioId -->
		<div class="flex flex-col gap-1 mb-5">
			<p-dropdown
				placeholder="Seleccione un usuario"
				formControlName="usuarioId"
				appendTo="body"
				[options]="users"
				optionLabel="nombre"
				optionValue="id"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
				styleClass="w-full border"
			>
				<ng-template pTemplate="selectedItem" let-selectedOption>
					<div class="flex align-items-center gap-2">
						<div>{{ selectedOption.nombre }}</div>
					</div>
				</ng-template>
				<ng-template let-user pTemplate="item">
					<div class="flex align-items-center gap-2">
						<div>{{ user.nombre }}</div>
					</div>
				</ng-template>
			</p-dropdown>

			<span
				*ngIf="hasError({field: 'usuarioId', error: 'required'}) || hasError({field: 'usuarioId', error: 'whitespace'})"
				class="text-red-700 ml-1"
			>
				Field user is required
			</span>
		</div>

		<!-- libroId -->
		<div class="flex flex-col gap-1 mb-5">
			<p-dropdown
				placeholder="Seleccione un libro"
				formControlName="libroId"
				appendTo="body"
				[options]="books"
				optionLabel="titulo"
				optionValue="id"
				optionDisabled="deshabilitar"
				[filter]="true"
				filterBy="titulo"
				[showClear]="true"
				styleClass="w-full border"
			>
				<ng-template pTemplate="selectedItem" let-selectedOption>
					<div class="flex align-items-center gap-2">
						<div>{{ selectedOption.titulo }}</div>
					</div>
				</ng-template>
				<ng-template let-book pTemplate="item">
					<div class="flex align-items-center gap-2">
						<div>{{ book.titulo }}</div>
					</div>
				</ng-template>
			</p-dropdown>

			<span
				*ngIf="hasError({field: 'libroId', error: 'required'}) || hasError({field: 'libroId', error: 'whitespace'})"
				class="text-red-700 ml-1"
			>
				Field book is required
			</span>
		</div>

		<!-- fechaPrestamo -->
		<div class="flex flex-col gap-1 mb-5">
			<p-calendar
				placeholder="Fecha Prestamo"
				formControlName="fechaPrestamo"
				appendTo="body"
				readonlyInput="true"
				inputStyleClass="w-full border p-3"
				styleClass="w-full"
				[minDate]="minLoanDate"
				dateFormat="yy-mm-dd"
			/>
			<span
				*ngIf="hasError({field: 'fechaPrestamo', error: 'required'}) || hasError({field: 'fechaPrestamo', error: 'whitespace'})"
				class="text-red-700 ml-1"
			>
				Field loan Date is required
			</span>
		</div>

		<!-- fechaDevolucion -->
		<div class="flex flex-col gap-1 mb-5">
			<p-calendar
				placeholder="Fecha Devolucion"
				appendTo="body"
				readonlyInput="true"
				formControlName="fechaDevolucion"
				styleClass="w-full"
				panelStyleClass="!text-xs"
				inputStyleClass="w-full border p-3"
				[minDate]="LoanDate"
				dateFormat="yy-mm-dd"
			/>
			<span
				*ngIf="hasError({field: 'fechaDevolucion', error: 'required'}) || hasError({field: 'fechaDevolucion', error: 'whitespace'})"
				class="text-red-700 ml-1"
			>
				Field return Date is required
			</span>
		</div>
	</ng-container>

	<div class="flex justify-end gap-2 pt-4">
		<p-button
			label="Cancel"
			severity="secondary"
			(onClick)="emitModalToggle()"
		/>
		<p-button
			label="Save"
			(onClick)="submit()"
			[disabled]="selectedLoan? !formGroup.dirty || formGroup.invalid : formGroup.invalid"
		/>
	</div>
</form>
