<!-- alertas -->
<p-toast />

<div class="flex justify-end mb-2">
	<p-button
		(onClick)="toggleModalVisibility()"
		label="create"
		styleClass="bg-zinc-100 rounded px-4 py-2"
	/>
</div>

<p-table
	#dt2
	[value]="books"
	[paginator]="true"
	[rows]="7"
	[rowsPerPageOptions]="[7, 20]"
	[globalFilterFields]="['titulo', 'autor', 'genero']"
	styleClass="text-sm"
>
	<ng-template pTemplate="caption">
		<div class="flex justify-end">
			<p-inputIcon class="bg-white p-2">
				<i class="pi pi-search"></i>
			</p-inputIcon>
			<input
				pInputText
				[(ngModel)]="searchKeyword"
				type="text"
				(input)="dt2.filterGlobal(searchKeyword, 'contains')"
				placeholder="Search keyword"
				class="p-2 rounded outline-none"
			/>
		</div>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<ng-container *ngFor="let header of headersTable">
				<th [pSortableColumn]="header['value']">
					{{header['label']}}
				</th>
			</ng-container>
			<th>Actions</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr>
			<td *ngFor="let header of headersTable">
				{{product[header['value']] ? header['value'] == 'fechaPublicacion' ?
				(product[header['value']] | date) : product[header['value']] : 'N/A'}}
			</td>
			<td class="flex gap-2">
				<p-confirmPopup />
				<p-button
					(onClick)="setSelectedBook(product)"
					label="edit"
					styleClass="bg-zinc-100 rounded px-4 py-2"
				/>
				<p-button
					(click)="confirmDelete($event, product.id)"
					label="delete"
					styleClass="bg-zinc-200 rounded px-4 py-2"
				/>
			</td>
		</tr>
	</ng-template>

	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="5">No books found.</td>
		</tr>
	</ng-template>
</p-table>

<span class="hidden w-96"></span>
<p-dialog
	draggable="false"
	[header]="selectedBook ? 'Update book' :'Create a new book'"
	[modal]="true"
	[(visible)]="isModalVisible"
	styleClass="w-96 sm:w-[500px]"
>
	<span class="p-text-secondary block mb-5"
		>{{selectedBook ? 'Update book' :'Create a new book'}}</span
	>

	<ng-container *ngIf="isModalVisible">
		<app-book-form
			[selectedBook]="selectedBook"
			(toggleModalVisibility)="toggleModalVisibility()"
			(refreshBooks)="loadBooks()"
			(showToast)="showToast($event)"
		></app-book-form>
	</ng-container>
</p-dialog>
