<form [formGroup]="formGroup">
	<div class="flex flex-col gap-1 mb-5">
		<label for="titulo" class="w-16 block text-sm font-medium">Titulo *</label>
		<input
			id="titulo"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="titulo"
		/>
		<span
			*ngIf="hasError({field: 'titulo', error: 'required'})"
			class="text-red-700"
		>
			Titulo is required
		</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="autor" class="w-16 block text-sm font-medium">Autor *</label>
		<input
			id="autor"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="autor"
		/>
		<span
			*ngIf="hasError({field: 'autor', error: 'required'})"
			class="text-red-700"
		>
		Autor is required
	</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="genero" class="w-16 block text-sm font-medium">Genero *</label>
		<input
			id="genero"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="genero"
		/>
		<span
			*ngIf="hasError({field: 'genero', error: 'required'})"
			class="text-red-700"
		>
		Genero is required
	</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="fechaPublicacion" class="w-16 block text-sm font-medium">Fecha de Publicación *</label>
		<input
			id="fechaPublicacion"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="fechaPublicacion"
			type="date"
			(blur)="formatDate()"
		/>
		<span
			*ngIf="hasError({field: 'fechaPublicacion', error: 'required'})"
			class="text-red-700"
		>
		Fecha de Publicacion is required
		</span>
	</div>

	<div class="flex flex-col gap-1 mb-5">
		<label for="numPaginas" class="w-16 block text-sm font-medium">Número de Paginas</label>
		<input
			id="numPaginas"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="numPaginas"
			type="number"
		/>
		<span
			*ngIf="hasError({field: 'numPaginas', error: 'required'})"
			class="text-red-700"
		>
		Número de Paginas is not valid
		</span>
		<span
		*ngIf="hasError({field: 'numPaginas', error: 'min'})"
		class="text-red-700"
	>
	Número de Paginas must be greater than 0
	</span>
	</div>

	<div class="flex flex-col gap-1 mb-5">
		<label for="resumen" class="w-16 block text-sm font-medium">Resumen</label>
		<textarea 
		id="resumen"
        rows="5" 
        cols="30" 
        pInputTextarea 
		formControlName="resumen"
		class="p-2 border rounded flex-auto">
    </textarea>
		<span
			*ngIf="hasError({field: 'resumen', error: 'required'})"
			class="text-red-700"
		>
		Resumen is not valid
		</span>
	</div>
	<div class="flex flex-col gap-1 mb-5">
		<label for="stock_disponible" class="w-16 block text-sm font-medium">Stock Disponible</label>
		<input
			id="stock_disponible"
			class="p-2 border rounded flex-auto"
			autocomplete="off"
			formControlName="stock_disponible"
			type="number"

		/>
		<span
			*ngIf="hasError({field: 'stock_disponible', error: 'required'})"
			class="text-red-700"
		>
		Stock Disponible is not valid
		</span>
		<span
		*ngIf="hasError({field: 'stock_disponible', error: 'min'})"
		class="text-red-700"
	>
	Stock Disponible must be greater than 0
	</span>
	</div>

	<div class="flex justify-end gap-2">
		<p-button
			label="Cancel"
			severity="secondary"
			(onClick)="runDialogEmitter()"
		/>
		<p-button
			label="Save"
			(onClick)="submit()"
			[disabled]="bookSelected? !formGroup.dirty || formGroup.invalid : formGroup.invalid"
		/>
	</div>
</form>
